@font-face{
    font-family: "ballpark";
    src: url("../fonts/ballpark.woff");
    src: url("../fonts/ballpark.eot");
    src: url("../fonts/ballpark.ttf");
}
@font-face{
    font-family: "dayrom";
    src: url("../fonts/dayrom.eot");
    src: url("../fonts/dayrom.ttf");
    src: url("../fonts/dayrom.woff");
}
body{
    background-color: rgb(255, 239, 167);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(165, 122, 14);
}
h1{
    font-family: "ballpark";
}
h2{
    font-family: "dayrom";
    word-spacing: 1em;
}
h3{
    font-size: 1.5em;
    position: relative;
    top: 10%;
    font-family: "dayrom";
}
h4{
    font-size: 1em;
    position: relative;
    top: 10%;
    color: white;
    font-family: "dayrom";
}
table{
    margin-left: 15%;
    margin-right: 15%;
}
table, tr {
    width: 70%;
}
nav{
    margin-left: 30%;
    margin-right: auto;
    
}
aside{
    font-family: "dayrom";
    width: 14%;
    float: right;
    margin-right: 5%;
    background-color: rgb(46, 46, 46);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    border-radius: 5px;
    margin-bottom: 1%;
}
article{
    font-family: "dayrom";
    width:76%;
    text-align: top;
}
hr{
    clear: both;
    background-image: url("../images/line.png");
    margin-bottom:0;
}
.juntitos{
    display: inline-block;
}
.myphotos{
    float: right;
    border: solid 1px black;
}
#maleta{
    float: left;
    height: 50px;
    clear:both;
}
#dibujito{
    width: 95%;
    border-radius: 5px;
    box-shadow: 1px 3px #888888;
}
#pin{
    height: 40px;
    float: left;
}

#flechita{
    width:7%;
    margin-left: 20%;
}
#nested{
    width: 17%;
    color: darkred;
    list-style-image: url('../images/external_link.png');
}

#nested1{
    width: 17%;
    color: black;
    font-size: small;
}

